.ackoptions
.cabal-sandbox
cabal.sandbox.config
cafe2/
dist
*-docs
.DS_Store
.DS_Store.ackoptions
.hackette
haddock2
ISSUES
newtyp/
*sandbox.config
.shelly
.shely
sketches/docs
.stack-work
test*
wiki

*.bak
*.count
*.eps
*.hi
*.ly
*.mid
*.o
*.pdf
*.png
*.tex
*.texi
*.xml

