dist
cabal.sandbox.config
.cabal-sandbox
*.ly
*.pdf
*.bak
*.mid
*.xml
.DS_Store
.stack-work
wiki
.DS_Store.ackoptions
.ackoptions

ISSUES
*.png

.shely
.shelly
cafe2/
newtyp/
haddock2
.hackette
*-docs

test*
sketches/docs
*sandbox.config
*.hi
*.o
